.quotes-container {

}

.quotes-list {
    list-style: none;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 100%;
}

.quotes-tile {
  height: 200px;
  width: 30%;
  margin: 20px;
  background: #eee;
  border: 1px solid #ccc;
  padding: 25px 25px 0;
  float: left;
  position: relative;
  background-size: cover;
}

.quote-header {
  padding: 3px 5%;
  line-height: 15px;
  background: #F1AC59;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: right;
}

.quotes-body {

}

.quotes-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
  background: #333;
  left: 0;
  a {
    display: inline-block;
    color: #fff;
    padding: 3px 10px;
  }
}
